/.cpcache
/.nrepl-port
/bin
/config.edn
/config.sh
/config.env
/node_modules
/secrets.env
/storage/
/tailwindcss
/target
.calva/
.clj-kondo/
.lsp/
.portal/
.shadow-cljs/
e2e/node_modules/
e2e/cypress/screenshots/
e2e/cypress/videos/
e2e/cypress/results/
