;; See https://github.com/juxt/aero and https://biffweb.com/docs/api/utilities/#use-aero-config.
;; #biff/env and #biff/secret will load values from the environment and from config.env.
{:biff/base-url #profile {:prod #join ["https://" #biff/env DOMAIN]
                          :default #join ["http://localhost:" #ref [:biff/port]]}
 :biff/host     #or [#biff/env "HOST"
                     #profile {:dev "0.0.0.0"
                               :default "localhost"}]
 :biff/port     #long #or [#biff/env "PORT" 8080]

 :biff.beholder/enabled         #profile {:dev true :default false}
 :biff.beholder/paths           ["src" "resources" "test"]
 :biff.add-libs/aliases         #profile {:dev [:dev] :prod [:prod]}
 :biff/eval-paths               ["src" "test"]
 :biff.middleware/secure        #profile {:dev false :default true}
 :biff.middleware/cookie-secret #biff/secret COOKIE_SECRET
 :biff.refresh/enabled          #profile {:dev true :default false}

 :biff.nrepl/port #or [#biff/env NREPL_PORT "7888"]
 :biff.nrepl/args ["--port" #ref [:biff.nrepl/port]
                   "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]

 :biff.system-properties/user.timezone                 "UTC"
 :biff.system-properties/clojure.tools.logging.factory "clojure.tools.logging.impl/slf4j-factory"

 :biff.tasks/server                 #biff/env DOMAIN
 :biff.tasks/main-ns                biff_repl
 :biff.tasks/on-soft-deploy         "\"(biff_repl/on-save @biff_repl/system)\""
 :biff.tasks/generate-assets-fn     biff_repl/generate-assets!
 :biff.tasks/css-output             "target/resources/public/css/main.css"
 :biff.tasks/deploy-untracked-files [#ref [:biff.tasks/css-output]
                                     "config.env"]

 :biff.tasks/watch-dirs  ["src" "dev" "resources" "test"]
 :biff.tasks/tailwind-version "v3.4.17"
 :biff.tasks/git-deploy-cmd ["git" "push" "prod" "master"]
 }
